

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
}

.brand-img {
  height: 20px;
  display: inline;
}

.navbar-brand > img {
  display: inline;
}

.navbar {
  margin-bottom: 0px;
  border: 0px;
}

h1.navbar-brand {
  margin: 0px;
}

h1.navbar-brand > a { text-decoration: none; color: #333;}
h1.navbar-brand > a:hover { text-decoration: none; color: #333; }

.navbar-nav>li>a {
  text-decoration: none; color: #333;
  text-decoration: none; color: #333;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #F7DB3B;
  text-decoration: none; color: #333;
}

.jumbotron {
  background-image: url("../img/playstation.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  margin-bottom: 0px;
}

.jumbotron h1, .jumbotron .h1 {
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
}

.jumbotron p {
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
}

.search {
  background-color: #F7DB3B;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.search h1 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  border-radius: 0px;
  height: 60px;
  font-size: 1.3em;
}

.search-form {
  text-align: center;
  margin: 0 auto;
}

.btn-search {
  background-color: #3D8DE9;
  border-color: #3D8DE9;
  border-radius: 0px;
  color: #FFF;
}
.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active {
  background-color: #2680e6;
  border-color: #1973da;
  border-radius: 0px;
  color: #FFF;
}
.btn-search.disabled:hover,
.btn-search.disabled:focus,
.btn-search.disabled:active,
.btn-search.disabled.active,
.btn-search[disabled]:hover,
.btn-search[disabled]:focus,
.btn-search[disabled]:active,
.btn-search[disabled].active,
fieldset[disabled] .btn-search:hover,
fieldset[disabled] .btn-search:focus,
fieldset[disabled] .btn-search:active,
fieldset[disabled] .btn-search.active {
  background-color: #3D8DE9;
  border-color: #3D8DE9;
  border-radius: 0px;
  color: #FFF;
}

.portrait-row p {
  font-size: 1.3em;
}

.portrait-row {
  margin-bottom: 40px;
}


.portrait {
  padding: 20px;
}

.description {
  background-color: #3D8DE9;
  color: white;
  margin-bottom: 40px;
}

.description h1 {
  text-align: center;
}

.description p {
  font-size: 1.3em;
}

.colors {
  position: relative;
}

.color {
  height: 230px;
  margin-top: 20px;
  background-size:     cover; 
  background-repeat:   no-repeat;
  background-position: center center;     
}

.color1 {
  background-color: #C89810;
  background-image: url("../img/zelda.gif");
}

.color2 {
  background-color: #6CBA6F;
  background-image: url("../img/bloodborne.jpg");
}

.color3 {
  background-color: #73870A;
  background-image: url("../img/destiny.jpg");
}

.color4 {
  background-color: #D01F3C;
  background-image: url("../img/supermario.jpg");
}

.color-text {
  position: absolute;
  bottom: 0px;
  left: 30px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
}
.testimonial h1{
  color: #333;
  text-align: center;
}
.testimonial {
  background-color: #F7DB3B;
  padding-bottom: 50px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right{
  background-image: none;
}

.contact {
}

.icon-col {
  padding-right: 0px;
  color: #3D8DE9;
  font-size: 1.5em;
}

.data-col {
  padding-left: 0px;
}

footer {
  background-color: #333;
  color: #FFF;
  margin-top: 20px;
}

footer p {
  margin-top: 20px;
  margin-bottom: 20px;
}

